# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.ipynb_checkpoints
.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/

output.out
output.sel
/SampleProblems/LLNL_Mahoney/llnl_Mahoney_updated_MCnew.txt
/SampleProblems/LLNL_Mahoney/8_3_MC100res.npy
/SampleProblems/LLNL_Mahoney/8_3_MC100gv.npy
/SampleProblems/LLNL_Mahoney/7_19sim.npy
/SampleProblems/LLNL_Mahoney/7_19sim_p.npy
/SampleProblems/LLNL_Mahoney/7_22sim.npy
/SampleProblems/LLNL_Mahoney/7_22sim_p.npy
/SampleProblems/LLNL_Mahoney/gspc.npy
/SampleProblems/LLNL_Mahoney/gspc200.npy
/SampleProblems/LLNL_Mahoney/gspc400.npy
/SampleProblems/LLNL_Mahoney/gspc600.npy
/SampleProblems/LLNL_Mahoney/gsr.npy
/SampleProblems/LLNL_Mahoney/gsr200.npy
/SampleProblems/LLNL_Mahoney/gsr400.npy
/SampleProblems/LLNL_Mahoney/gsr600.npy
/SampleProblems/LLNL_Mahoney/Outputfile3.out
/SampleProblems/LLNL_Mahoney/bayes_resp_8_25.npz
/SampleProblems/LLNL_Mahoney/gridsearch_concs.npy
/SampleProblems/LLNL_Mahoney/gs_loglikelihood.npy
/SampleProblems/LLNL_Mahoney/llnl_Mahoney_updated-temp.txt
/SampleProblems/LLNL_Mahoney/output-temp.out
/SampleProblems/LLNL_Mahoney/output-temp.sel
/SampleProblems/LLNL_Mahoney/output3.out
/SampleProblems/LLNL_Mahoney/llnl_Mahoney_updated.txt
/SampleProblems/LLNL_Mahoney/csr_200.npz
/SampleProblems/LLNL_Mahoney/params_by_samples.npz
