# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
sphinx>=3.2.1
numpy==1.22.3
pandas==1.3.4
scikit-learn==1.0.1
scipy==1.7.2
SALib==1.4.5
# sphinx_rtd_theme

setuptools==57.0.0